<?xml version="1.0" encoding="utf-8"?>
<sources>
  <source url="http://localhost:1544/DataServices/Packages.svc" displayname="TestRemoteFeed" />
  <source url="file:///C:/Ninemsn/internal/Ninemsn.PackageManager/Ninemsn.PackageManager.NuGet.Service/Packages" displayname="TestLocalFeed" />
  <!--This needs to be merged in through a template-->
  <source url="file:///C:/Ninemsn/Portal/News/dist" displayname="LocalFeed" />
  <source url="http://PIN-03-WEB-2-01.9msn.net/nuget" displayname="IntegrationFeed" />
</sources>