<?xml version="1.0" encoding="utf-8"?>
<sources>
  <source url="http://localhost:1544/DataServices/Packages.svc" displayname="LocalFeed" filterpreferred="true" />
  <source url="http://go.microsoft.com/fwlink/?LinkID=206971" displayname="DefaultPackageSourceName" filterpreferred="false" />
  <source url="http://go.microsoft.com/fwlink/?LinkID=206669" displayname="NuGetFeed" filterpreferred="true" />
</sources>