<?xml version="1.0" encoding="utf-8"?>
<sources>
  <source url="http://localhost:1544/DataServices/Packages.svc" displayname="LocalFeed" />
  <source url="file:///C:/Ninemsn/PackageManager/Ninemsn.PackageManager.NuGet.Service/Packages/" displayname="LocalFolder" />
  <source url="http://go.microsoft.com/fwlink/?LinkID=206971" displayname="DefaultPackageSourceName" />
  <source url="http://go.microsoft.com/fwlink/?LinkID=206669" displayname="NuGetFeed" />
</sources>